lo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/

# kdev4 config
.kdev4/*
*.kdev*

# .directory
.directory

# LOB
LOB/

# Stock Directory
StockDirectory/

# Kate swp
*.kate-swp
